/*startof div.html*/
html, body{
    padding:0;
    margin:0;
}
#body{
    background-color:rgb(12, 235, 179);
    font-size:14px
}
#topbar{
    height:45px;
    background-color: rgb(12, 235, 179);
}
#topbar #left{
    width:30%;
    float:left;
    height:100%;
    font-size:40px;
   
}
#topbar #right{
    width:50%;
    float:right;
    height:100%;
    font-size:40px;
   
}
#topbar #right a{
    display:inline;
    font-size:40px;
    background-color:rgb(2, 2, 2);
    text-decoration:none;
}
#topbar #right a:hover{
    padding: 20px;
    color:red;
}
/*startof bg.image*/
.container {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    top: 30px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 8, 0);
    color: white;
    text-align: center;
 }
 
 
 
  